/* Styling for header */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* header {
  display: flex;
} */

.navbar .navbar-toggler-icon {
  color: #fff;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

/* Banner Styling */

.bg-img1 {
  display: flex;
  flex-direction: column;
  background: url('images/pic_1.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 0%;
  min-height: 100vh;
}

#button {
  align-items: center;
  padding: 13px 21px 13px 20px;
  border-radius: 22px;
  background: #C271FF;
  cursor: pointer;
  box-shadow: 0px 2px 4px 0px rgba(7, 22, 41, 0.18);
}

/* Video Section */

#popular-videos .carousel-control-prev, #popular-videos .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#popular-videos .carousel-control-prev {
    left: 0;
}

#popular-videos .carousel-control-next {
    right: 0;
}


/* F.A.Q. Section */

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
}

.title_box {
  color: #071629;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 20px;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 16px;
}

.faq_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: flex-start;
  gap: 94px;
}

.faq p {
  color: rgba(7, 22, 41, 0.50);
  font-size: 14px;
}

/* Footer Section */

footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


/* PRICING */

.btn-primary {
  background-color: #C271FF;;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* FAQ */

.faq {
  background: #FFF;
  height: 100vh;
}

.faq-item {
  border-radius: 5px;
  text-align: center;
}


/* Courses Header */

.DS {
  display: flex;
  justify-content: right;
}

select.form-select.text-black.bg-white {
  color: black;
  background-color: white;
}

select.form-select.text-black.bg-white option:hover {
  background-color: #C271FF;
}
